@{
    ViewData["Title"] = "Home Page";
}

<div id="mm-0" class="mm-page mm-slideout">
     
<section id="domain-search">
    <div class="container py-4 pb-md-5">			
        <div id="domain-app"></div>
    </div>
</section>

<!-- /#text-search -->

<section id="domain-list">
    <div class="container my-3 my-lg-5">        
    </div>
</section>

<!-- /#text-search -->

<section id="cta-list-ext" class="">
    <div class="container text-xs-center py-5">  
    </div>
</section>

<div id="table-list-ext" class="bg-faded bg-secondary-lighter" style="display:none">
    <div class="container py-4">
    </div>
</div>

<a id="back-top" href="javascript:void(0);" rel="nofollow" class="icon icon-arrow-upward icon-inverse icon-3x hidden-sm-down"></a>
</div>
